@use '../config';

/// # Form Fields & Inputs
/// @group forms

/// @group forms
textarea {
  min-height: calc(6em + 4vw);
  resize: vertical;
}

/// @group forms
/* stylelint-disable-next-line selector-type-no-unknown */
selectmenu {
  font: inherit;
  font-size: var(--xsmall);
  width: 100%;

  &:focus {
    @include config.focus-ring;
  }

  &::part(listbox) {
    background-color: var(--feature);
    color: var(--bg);
  }
}

/* stylelint-disable-next-line selector-type-no-unknown */
selectmenu [data-btn='select'] {
  // using a custom property like this doesn't seem to work?
  --button-padding: var(--shim);

  padding: var(--quarter-shim) var(--shim);
  position: relative;
  width: 100%;

  &::after {
    background: currentColor;
    clip-path: polygon(10% 20%, 90% 20%, 50% 80%);
    content: '';
    height: var(--shim);
    position: absolute;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
    right: var(--shim);
    width: var(--shim);
  }
}

/* stylelint-disable-next-line selector-type-no-unknown */
selectmenu option {
  padding: var(--half-shim);

  &:hover,
  &:focus {
    background: var(--bg);
    color: var(--feature);
  }
}

/// @group forms
fieldset {
  border-color: var(--border-fade);
  margin: 0 0 var(--newline);
  padding: var(--shim);
}

/// @group forms
legend {
  font-size: var(--xsmall);
  padding: 0 var(--shim);
}
