@use '../config';

/// # Form Fields & Inputs
/// @group forms

/// @group forms
textarea {
  min-height: calc(6em + 4vw);
  resize: vertical;
}

/// @group forms
/* stylelint-disable-next-line selector-type-no-unknown */
selectmenu {
  font: inherit;
  font-size: var(--xsmall);
  width: 100%;

  &:focus {
    @include config.focus-ring;
  }

  &::part(button) {
    font: inherit;
    width: 100%;
  }

  &::part(listbox) {
    color: var(--bg);
    background: var(--feature);
  }
}

/* stylelint-disable-next-line selector-type-no-unknown */
selectmenu option {
  padding: var(--half-shim);

  &:hover {
    color: var(--feature);
    background: var(--bg);
  }
}

/// @group forms
fieldset {
  border-color: var(--border-fade);
  margin: 0 0 var(--newline);
  padding: var(--shim);
}

/// @group forms
legend {
  font-size: var(--xsmall);
  padding: 0 var(--shim);
}
